<h1>Assignments</h1>
<div class="row">
  <div class="col-md-2">
    <table class="table table-hover" id="assignable-select-table">
      <thead>
      <tr>
        <th colspan="2" data-toggles-all="#assignable-select-table .assignable-select-checkbox[data-assignable-type='Brand']">Brands</th>
      </tr>
      </thead>
      <tbody>
        <% Brand.all.each do |brand| %>
          <tr>
            <td class="text-center"><input type="checkbox" class="assignable-select-checkbox" data-assignable-id="<%= brand.id %>" data-assignable-type="Brand"></td>
            <td><%= brand.name %></td>
          </tr>
        <% end %>
        <tr><th colspan="2" data-toggles-all="#assignable-select-table .assignable-select-checkbox[data-assignable-type='Program']">Programs</th></tr>
        <% Program.all.each do |program| %>
          <tr>
            <td class="text-center"><input type="checkbox" class="assignable-select-checkbox" data-assignable-id="<%= program.id %>" data-assignable-type="Program"></td>
            <td><%= program.name %></td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
  <div class="col-md-10"> 
    <table class="table table-hover" id="user-select-table">
      <thead>
        <tr>
          <th class="text-center"><input type="checkbox" data-toggles-all="#user-select-table .user-select-checkbox"></th>
          <th>Email</th>
          <th>Role</th>
          <th>Assignments</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="text-center"><input type="checkbox"  class="user-select-checkbox" data-user-id="<%= user.id %>"></td>
            <td><%= link_to user.email, '#' %></td>
            <td><%= link_to user.role_in_words, '#' %></td>
            <td class="user-assignments-cell">
              <% if user.has_assignments? %>
                <ul class="token-input-list-facebook token-list-display assignment-list">
                  <% user.assignments.each do |assignment| %>
                    <% if assignment.assignable_type == 'Brand' %>
                      <li class="brand-assignment token-input-token-facebook"><%= assignment.brand.name %></li>
                    <% else %>
                      <li class="program-assignment token-input-token-facebook"><%= assignment.program.name %></li>
                    <% end %>
                  <% end %>
                </ul>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-12">
    <%= button_to 'Assign', '/assignments', class: 'btn btn-primary', form_class: 'assign_form' %> 
    <%= button_to 'Unassign', '/assignments', class: 'btn btn-danger', form_class: 'unassign_form', method: :delete %> 
  </div>
</div>
