<div class="row">
    <div class="col-md-10 col-md-offset-1 container-box">
        <div class="event-header">
            <h1><%= @commentable.class.name unless @commentable == nil %> Comments</h1>
        </div>

        <div class="form-box">

            <div class="row">
                <% @comments.each do |comment| %>
                  <%= render comment %>
                <% end %>

                <div class="col-md-10 col-md-offset-1 form-header-label"></div>
                <% if @commentable.present? %>
                <div class="col-md-10 col-md-offset-1">
                    <%= link_to 'New Comment', [:new, @commentable, :comment], class: "btn btn-primary pull-right" %>
                    <% if @commentable.class.name == "Photo" %>
                        <%= link_to_unless @commentable.nil?, 'Back', event_photos_path(@commentable.event), class: "btn btn-default pull-right back-button" %>
                    <% else %>
                        <%= link_to_unless @commentable.nil?, 'Back', @commentable, class: "btn btn-default pull-right back-button" %>
                    <% end %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

