<div class="col-md-12">
    <fieldset>
        <div class="row">
            <div class="col-md-1 form-cont-box">
                <div class="favorite-box favorite-opaque-box <%= 'active' if program_comment.program_favorite %>">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-favorite <%= 'active' if program_comment.program_favorite %>"  title="Star to include in report">
                            <span class="glyphicon glyphicon-star"></span>
                            <%= f.check_box :program_favorite, {checked: program_comment.program_favorite, title: 'Star to include in report'} %>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-9 form-cont-box">
                <%= f.label :comment_id, program_comment.content, class: "control-label" %>
            </div>
            <div class="col-md-2 form-cont-box">
                <%= program_comment.type_in_words %>
            </div>
        </div>
    </fieldset>
</div>