<div class="form-box">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <%= form_for([@brand,@program], html: {class: "form-horizontal"}) do |f| %>
              <% if @program.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

                  <ul>
                  <% @program.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

            <div class="row">
                <div class="col-md-12 form-cont-box">
                    <%= f.label :name, "Name", class: "control-label" %>
                    <%= f.text_field :name, class: "form-control", required: true %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-cont-box">
                    <%= f.label :brand_id, "Brand", class: "control-label" %>
                    <%= f.select :brand_id, options_from_collection_for_select(Brand.all, :id, :name, @program.brand_id),{}, class: "form-control", required: true %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-cont-box">
                    <%= f.label :overview, "Program Details", class: "control-label" %>
                    <%= f.text_area :overview, class: "form-control", required: true %>
                </div>
            </div><br>

            <!-- <%= render 'comments_fields', f: f %> -->

            <div class="row">
                <div class="col-md-12 form-header-label"></div>
                <div class="col-md-12 submit-container">
                    <%= f.submit class: "btn btn-success pull-right" %>
                </div>
            </div>


        <% end %>
        </div>
    </div>
</div>