<div class="row">
    <div class="col-md-10 col-md-offset-1 container-box">
        <div class="event-header">
            <h1>Program Listings for <%= @brand.name %>
                <%= link_to new_brand_program_path do %>
                <button type="button" class="pull-right new-event-btn btn btn-default">New Program</button>
                <% end %>
            </h1>
        </div>


        <div class="form-box">

            <div class="row">
            <% @programs.each do |program| %>
              <div class="col-md-4">
                <div class="brand-icon-container">
                <div class="prize-icon">
                    <!-- Prize Picture -->
                </div>
                <div class="brand-name">
                    <%= program.name %>
                </div>
                <div>
                    <%= link_to program_events_path(program) do %>
                    <button type="button" class="btn btn-primary info-button"> <span class="glyphicon glyphicon-eye-open"></span> Show Events</button>
                    <% end %>
                </div>
                <div>
                    <%= link_to edit_program_path(program) do %>
                    <button type="button" class="btn btn-default info-button"><span class="glyphicon glyphicon glyphicon-pencil"></span> Edit</button>
                    <% end %>
                </div>
                <div>
                    <%= link_to program, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <button type="button" class="btn btn-default info-button"><span class="glyphicon glyphicon glyphicon-trash"></span> Delete</button>
                    <% end %>
                </div>
                </div>
              </div>
            <% end %>
            </div>

            <div class="row">
                <div class="col-md-12 form-header-label"></div>
                <div class="col-md-12 submit-container">
                    <%= link_to_unless @brand.nil?, "Back to Brands", brands_path, class: "btn btn-default pull-right" %>
                </div>
            </div>

        </div>

    </div>
</div>
