<div class="row">
    <div class="col-md-12 container-box">
        <div class="event-header">
          <h1><%= @program.name %>
            <%= link_to program_path(@program, format: :pdf), class: "btn btn-info pull-right", target: "_blank" do %>
              <span class="glyphicon glyphicon-file"></span> Report
            <% end %>
          </h1>
        </div>

        <div class="form-box">
          <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="card-stack brand-icon-container">

                  <%= link_to 'Edit', edit_program_path(@program) %> |
                  <%= link_to 'Back', brand_programs_path(@program.brand) %>

                  <h2>Events</h2>
                  <ul class="list-group">
                      <% @program.events.each do |event| %>
                          <% event_decorator = EventDecorator.new(event) %>
                          <li class="list-group-item">
                              <%= link_to event.name, event_path(event) %><span class="pull-right"><%= event_decorator.location %></span>
                          </li>
                      <% end %>
                  </ul>


                  <% unless @report.photos.empty? %>
                      <h2>Photos</h2>
                      <div class="row">
                          <% @report.favorite_photos.each do |photo| %>
                              <div class="<%= photo_grid_class(@report.first_favorite_photos) %>">
                                  <span class="thumbnail"><%= image_tag photo.image(:small) %></span>
                              </div>
                          <% end %>
                      </div>
                  <% end %>

                  <h2>Overview</h2>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="well"><%= @program.overview %></div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-4">
                          <div class="panel panel-default">
                              <div class="panel-heading">Impressions Statistics</div>
                              <table class="table">
                                  <tr><th>Total Impressions</th>      <td><%= @report.total_impressions %></td></tr>
                                  <tr><th>Mileage Impressions</th>    <td><%= @report.mileage_impressions %></td></tr>
                                  <tr><th>Footprint Impressions</th>  <td><%= @report.footprint_impressions %></td></tr>
                                  <tr><th>Walk by Impressions</th>    <td><%= @report.walk_by_impressions %></td></tr>
                                  <tr><th>Digital Engagements</th>    <td><%= @report.digital_engagements %></td></tr>
                                  <tr><th>Extended Engagements</th>   <td><%= @report.extended_engagements %></td></tr>
                                  <tr><th>Total Attendance</th>       <td><%= @report.total_attendance %></td></tr>
                                  <tr><th>Start Date</th>             <td><%= @report.start_date %></td></tr>
                                  <tr><th>End Date</th>               <td><%= @report.end_date %></td></tr>
                              </table>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <div class="panel panel-default">
                              <div class="panel-heading">Impressions Graph</div>
                              <div class="panel-body">
                                  <%= column_chart @report.aggregate_impression_data, stacked: true %>
                              </div>
                          </div>
                      </div>
                  </div>

                  <% unless @report.comments.empty? %>
                      <h2>Comments</h2>
                      <div class="row">
                          <div class="col-md-12">
                              <div class="panel panel-default">
                                  <table class="table">
                                      <tr>
                                          <th>Comment</th>
                                          <th>Type</th>
                                          <th>Event</th>
                                      </tr>
                                      <% @report.comments.each do |comment| %>
                                          <tr>
                                              <td><%= comment.content %></td>
                                              <td><%= comment.type_in_words %></td>
                                              <td><%= Event.find(comment.commentable_id).name %></td>
                                          </tr>
                                      <% end %>
                                  </table>
                              </div>
                          </div>
                      </div>
                  <% end %>

                  </div>
              </div>
          </div>
        </div>
    </div>
</div>