<% @report = report if @report.nil? && report.present? %>
<% @program = program if @program.nil? && program.present? %>
<% page_number_start = 2; page_number = page_number_start %>
<div class="program">
    <div class="row pdf-page">
        <div class="col-xs-1">
            <%= wicked_pdf_image_tag('g360left.png') %>
        </div>
        <div class="col-xs-11">
          <div class="programs-photo-main-container-bg">
          </div>
        </div>
        <% @report.favorite_photos.each do |photo| %>
            <div class="programs-photo-main-container">
                <%= image_tag photo.image(:hero), class: "programs-photo-main" %>
            </div>
        <% end %>
    </div>

    <div class="row pdf-page">
        <div class="col-xs-1">
            <%= wicked_pdf_image_tag('g360left.png') %>
        </div>
        <div class="col-xs-10">
            <h2>Events</h2>
            <% events = @program.events.unscope(:order).order(start_date_time: :asc)[0...12] %>
            <% if events.count > 0 %>
            <div class="row">
            <% end %>
            <% events.each_with_index do |event, index| %>
                <% event_decorator = EventDecorator.new(event) %>
                <div class="col-xs-4 text-center">
                    <h3 class='uppercase'><%= event.name %></h3>
                    <p><%= event_decorator.venue %></p>
                    <p><%= event_decorator.location %></p>
                </div>
                <% if index+1 >= events.count %>
                    </div>
                <% elsif (index+1)%3 == 0 %>
                    </div>
                    <div class="row">
                <% end %>
            <% end %>
        </div>
        <div class="pdf-footer">GROUP360 WORLDWIDE | <%= "%02d" % page_number %> <% page_number += 1 %></div>
    </div>

    <% if @program.events.count > 12 %>
    <div class="row pdf-page">
        <div class="col-xs-1">
            <%= wicked_pdf_image_tag('g360left.png') %>
        </div>
        <div class="col-xs-10">
            <h2>Events</h2>
            <% events = @program.events.unscope(:order).order(start_date_time: :asc)[12...24] %>
            <% if events.count > 0 %>
            <div class="row">
            <% end %>
            <% events.each_with_index do |event, index| %>
                <% event_decorator = EventDecorator.new(event) %>
                <div class="col-xs-4 text-center">
                    <h3 class='uppercase'><%= event.name %></h3>
                    <p><%= event_decorator.venue %></p>
                    <p><%= event_decorator.location %></p>
                </div>
                <% if index+1 >= events.count %>
                    </div>
                <% elsif (index+1)%3 == 0 %>
                    </div>
                    <div class="row">
                <% end %>
            <% end %>
        </div>
        <div class="pdf-footer">GROUP360 WORLDWIDE | <%= "%02d" % page_number %> <% page_number += 1 %></div>
    </div>

    <% elsif @program.events.count > 24 %>
    <div class="row pdf-page">
        <div class="col-xs-1">
            <%= wicked_pdf_image_tag('g360left.png') %>
        </div>
        <div class="col-xs-10">
            <h2>Events</h2>
            <% events = @program.events.unscope(:order).order(start_date_time: :asc)[24...36] %>
            <% if events.count > 0 %>
            <div class="row">
            <% end %>
            <% events.each_with_index do |event, index| %>
                <% event_decorator = EventDecorator.new(event) %>
                <div class="col-xs-4 text-center">
                    <h3 class='uppercase'><%= event.name %></h3>
                    <p><%= event_decorator.venue %></p>
                    <p><%= event_decorator.location %></p>
                </div>
                <% if index+1 >= events.count %>
                    </div>
                <% elsif (index+1)%3 == 0 %>
                    </div>
                    <div class="row">
                <% end %>
            <% end %>
        </div>
        <div class="pdf-footer">GROUP360 WORLDWIDE | <%= "%02d" % page_number %> <% page_number += 1 %></div>
    </div>
    <% end %>

    <div class="row pdf-page">
        <div class="col-xs-1">
            <%= wicked_pdf_image_tag('g360left.png') %>
        </div>
        <div class="col-xs-10">
            <div class="top-container">
                <h2>Overview</h2>
                <p class="overview-text"><%= @program.overview %></p>
            </div>
        </div>
        <div class="col-xs-4">
          <div class="middle-container">
            <h2>Impressions</h2>
            <div class="event-impressions panel panel-default">
              <div class="panel-body">
                <table class="impressions-table">
                  <tbody>
                    <tr>
                      <th class="col-md-11 impressions-label">Total</th>
                      <td class="col-md-1 impressions-count"><%= @report.total_impressions %></td>
                    </tr>
                    <tr>
                      <th class="col-md-11 impressions-label">Mileage</th>
                      <td class="col-md-1 impressions-count"><%= @report.mileage_impressions %></td>
                    </tr>
                    <tr>
                      <th class="col-md-11 impressions-label">Footprint</th>
                      <td class="col-md-1 impressions-count"><%= @report.footprint_impressions %></td>
                    </tr>
                    <tr>
                      <th class="col-md-11 impressions-label">Walk by</th>
                      <td class="col-md-1 impressions-count"><%= @report.walk_by_impressions %></td>
                    </tr>
                    <tr>
                      <th class="col-md-11 impressions-label">Digital</th>
                      <td class="col-md-1 impressions-count"><%= @report.digital_engagements %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-4 col-xs-offset-2">
          <div class="middle-container">
            <h2>Engagements</h2>
            <div class="event-impressions panel panel-default">
              <div class="panel-body">
                <table class="impressions-table">
                  <tbody>
                    <tr>
                      <th class="col-md-11 impressions-label">Extended</th>
                      <td class="col-md-1 impressions-count"><%= @report.extended_engagements %></td>
                    </tr>
                    <tr>
                      <th class="col-md-11 impressions-label">Total</th>
                      <td class="col-md-1 impressions-count"><%= @report.total_attendance %></td>
                    </tr>
                    <tr>
                      <th class="col-md-11 impressions-label">Start Date</th>
                      <td class="col-md-1 impressions-count"><%= @report.start_date %></td>
                    </tr>
                    <tr>
                      <th class="col-md-11 impressions-label">End Date</th>
                      <td class="col-md-1 impressions-count"><%= @report.end_date %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="pdf-footer">GROUP360 WORLDWIDE | <%= "%02d" % page_number %> <% page_number += 1 %></div>
    </div>

    <% unless @report.photos.empty? %>
    <div class="row pdf-page">
      <div class="col-xs-1">
          <%= wicked_pdf_image_tag('g360left.png') %>
      </div>

      <div class="col-xs-10">
          <h2>Event Photos</h2>
          <% if @report.favorite_photos.count > 0 %>
          <div class="row">
          <% end %>
          <% @report.favorite_photos.each_with_index do |photo, index| %>
              <% event = Event.find(photo.imageable_id) %>
              <% event_decorator = EventDecorator.new(event) %>
              <div class="col-xs-4 text-center">
                <div class="pdf-photo-sub-container">
                  <%= image_tag photo.image(:small), class: "img-responsive pdf-photo pdf-photo-sub" %>
                  <!-- <p><%= 'hello ' + index.to_s + @report.favorite_photos.count.to_s %></p> -->
                </div>
                <h3 class='uppercase'><%= event.name %></h3>
                <p><%= event_decorator.venue %></p>
                <p><%= event_decorator.location %></p>
              </div>

          <% if index+1 >= @report.favorite_photos.count %>
              </div>
          <% elsif (index+1)%3 == 0 %>
              </div>
              <div class="row">
          <% end %>

          <% end %>
          </div>
          <div class="pdf-footer">GROUP360 WORLDWIDE | <%= "%02d" % page_number %> <% page_number += 1 %></div>
      </div>
    <% end %>

    <% unless @report.comments.empty? %>
    <div class="row pdf-page">
        <div class="col-xs-1">
            <%= wicked_pdf_image_tag('g360left.png') %>
        </div>
        <div class="col-xs-10">
        <h2>Comments</h2>
            <div class="program-comments panel panel-default">
                <table class="table">
                    <tr class="program-comment">
                        <th class="program-comment">COMMENT</th>
                        <th class="program-comment-count">Type</th>
                        <th class="program-comment-count">Event</th>
                    </tr>
                    <% @report.comments.each do |comment| %>
                        <tr>
                            <td class="program-comment"><%= comment.content %></td>
                            <td class="program-comment-count"><%= comment.type_in_words %></td>
                            <td class="program-comment-count"><%= Event.find(comment.commentable_id).name %></td>
                        </tr>
                    <% end %>
                </table>
            </div>
        </div>
        <div class="pdf-footer">GROUP360 WORLDWIDE | <%= "%02d" % page_number %> <% page_number += 1 %></div>
    </div>
    <% end %>

    <div class="row pdf-page">
        <div class="col-xs-1">
            <%= wicked_pdf_image_tag('g360left.png') %>
        </div>
        <div class="col-xs-11">
          <div class="col-xs-11">
            <h2>Contacts</h2>
          </div>
        <% @report.contacts.each do |contact| %>
            <div class="col-xs-6 contact">
                <div class="name"><%= contact.full_name %></div>

                <div class="position brand-primary"><%= contact.title %></div>
                <div class="location"><%= contact.address %> <span class="brand-primary">|</span> <%= contact.city_state_zip %></div>
                <div class="phone"><%= contact.m_phone %> <%= contact.d_phone %></div>
            </div>
        <% end %>
        </div>
        <div class="pdf-footer">GROUP360 WORLDWIDE | <%= "%02d" % page_number %> <% page_number += 1 %></div>
    </div>
</div>