<div class="row">
    <div class="col-md-10 col-md-offset-1 container-box">
        <div class="event-header">
            <h1>Forgot Your Password?</h1>
        </div>

        <div class="form-box">

            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
                  <%= devise_error_messages! %>

                    <div class="row">
                        <div class="col-md-12">
                          <%= f.label :email, class: "control-label" %>
                          <%= f.email_field :email, :autofocus => true, class: "form-control" %>
                        </div>
                    </div><br>

                    <div class="row">
                        <div class="col-md-12 form-header-label"></div>
                        <div class="col-md-12 submit-container">
                            <%= f.submit "Send me reset password instructions", class: "btn btn-primary pull-right" %>
                            <%= render "devise/shared/links" %>
                        </div>
                    </div>
                <% end %>

                </div>
            </div>
        </div>
    </div>
</div>