<div class="row">
    <div class="col-md-10 col-md-offset-1 container-box">
        <div class="event-header">
            <h1><span class="glyphicon glyphicon-facetime-video"></span> <%= @descriptor %> Videos
              <% if can? :update, @event %>
                <% if @event.present? %>
                    <%= link_to new_event_video_path do %>
                        <button type="button" class="pull-right new-event-btn btn btn-primary"><span class="visible-md visible-lg visible-sm .hidden-xs">New Video</span><span class=".hidden-md .hidden-lg .hidden-sm visible-xs">+</span></button>
                    <% end %>
                <% end %>
              <% end %>
            </h1>
        </div>
<!--
        <div class="event-background">
            <div data-spy="affix" data-offset-top="135" class="date-filters-container hidden-xs">

                <div class="date-filters col-sm-12 col-md-12">
                    <%= form_tag request.path, method: 'get', class: '' do %>
                        <div class="col-sm-2 col-md-2 filter-group">
                            <h2><span class="glyphicon glyphicon-filter"></span> Filters</h2>
                        </div>
                        <div class="form-group col-sm-2 col-md-2">
                            <%= label_tag :tag, 'Tag:', class: 'control-label' %>
                            <%= select_tag :tag, options_from_collection_for_select(Photo.tag_counts, :name, :name, params[:tag]), class: 'form-control', prompt: '' %>
                        </div>
                        <div class="form-group col-sm-2 col-md-2">
                            <%= label_tag :start_date, 'From:', class: 'control-label' %>
                            <%= text_field_tag :start_date, params[:start_date], class: 'form-control datepicker', placeholder: 'Start Date', data: {behavior: "datepicker"} %>
                        </div>
                        <div class="form-group col-sm-2 col-md-2">
                            <%= label_tag :end_date, 'To:', class: 'control-label' %>
                            <%= text_field_tag :end_date,  params[:end_date], class: 'form-control datepicker', placeholder: 'End Date', data: {behavior: "datepicker"} %>
                        </div>
                        <div class="form-group col-sm-2 col-md-2">
                            <%= label_tag :favorites, 'Show Favorites', class: 'control-label' %>
                            <% if params[:favorites] == '' %>
                                <%= check_box_tag :favorites, 'on' %>
                            <% else %>
                                <%= check_box_tag :favorites, 'on', params[:favorites] %>
                            <% end %>
                        </div>
                        <div class="col-sm-2 col-md-2 filter-group">
                            <%= submit_tag 'Filter', class: 'btn btn-default btn-block' %>
                            <%= submit_tag 'Clear', class: 'btn btn-info btn-block clear-filter' %>
                        </div>
                    <% end %>
                </div>
                <div class="filter-triangles">
                    <div class="left-triangle"></div>
                    <div class="right-triangle"></div>
                </div>
            </div>
        </div>
 -->
        <div id="videos-form-box" class="form-box">
          <% if @tags.present? %>
            <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
              <%= link_to tag.name, "/photos/tags/#{tag.name}", class: css_class %>
            <% end %>
          <% end %>
          <div class="row">
            <% @videos.each do |video| %>
              <div class="col-sm-6 col-md-4">
                <div class="card-stack card-round videos-container photo">
                  <div class="list-video-container text-center">
                    <a href="<%= video.media.url(:original) %>" target="_blank" data-title="<a href='<%= video.media.url %>' download>Download</a>">
                    <%= video.media_file_name %>
                    <!--
                    <%= image_tag video.media(:thumb), class: 'img-responsive list-video' %>
                    -->
                    </a>
                  </div>
                    <!--
                      <%= video.media_file_name %>
                  <div>
                    <%= link_to video do %>
                      <button type="button" class="btn btn-default info-button"><span class="glyphicon glyphicon glyphicon-pencil"></span> Show</button>
                    <% end %>
                  </div>
 -->
                  <% if can? :update, video %>
                  <div class="edit-circle media-edit-box">
                    <%= link_to edit_video_path(video) do %>
                      <button type="button"><span class="glyphicon glyphicon glyphicon-pencil"></span></button>
                    <% end %>
                  </div>
                  <% end %>
                  <% if can? :destroy, video %>
                  <div class="delete-circle">
                    <%= link_to video, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <button type="button"><span class="glyphicon glyphicon-trash"></span></button>
                      <% end %>
                  </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <br>
<!--
          <% if can? :update, @event %>
          <% if @event.present? %>
              <%= link_to edit_event_path(@event), class: 'btn btn-default back-button' do %><span class="glyphicon glyphicon-pencil"></span> &nbsp;Edit Current Event
              <% end %>
          <% end %>
          <% end %>
 -->
    </div>
</div>
