<% event_comment = f.object %>
	<% if event_comment.new_record? %>
		<div class="col-md-12">
			<fieldset>
				<div class="row">
					<div class="col-md-1 form-cont-box">
						<div class="favorite-box favorite-opaque-box">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-favorite" title="Star to include in report">
									<span class="glyphicon glyphicon-star"></span>
									<%= f.check_box :event_favorite %>
								</label>
							</div>
						</div>
					</div>
					<%= f.label :content, "content:", class: 'sr-only' %>
				    <div class="col-md-5 form-cont-box">
						<%= f.text_field :content, class: "form-control", placeholder: "Comment" %>
				    </div>
				    <div class="col-md-2 form-cont-box">
						<%= f.select :comment_type, options_for_select(Comment.comment_types, event_comment.comment_type), {}, class: "form-control" %>
				    </div>
				    <div class="col-md-2 col-md-offset-2 form-cont-box">
			    		<%= f.hidden_field :_destroy %>
				    	<%= link_to 'Cancel', '#', class: 'remove_fields btn btn-danger btn-block' %>
				    </div>
				</div>
			</fieldset>
		</div>
	<% else %>
		<div class="col-md-12">
			<fieldset>
				<div class="row">
					<div class="col-md-1 form-cont-box">
						<div class="favorite-box favorite-opaque-box <%= 'active' if event_comment.event_favorite %>">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-favorite <%= 'active' if event_comment.event_favorite %>"  title="Star to include in report">
									<span class="glyphicon glyphicon-star"></span>
									<%= f.check_box :event_favorite, {checked: event_comment.event_favorite, title: 'Star to include in report'} %>
								</label>
							</div>
						</div>
					</div>
                    <div class="col-md-5 form-cont-box">
				    	<%= f.label :comment_id, event_comment.content, class: "control-label" %>
				    </div>
				    <div class="col-md-2 form-cont-box">
						<%= f.select :comment_type, options_for_select(Comment.comment_types, event_comment.comment_type), {}, class: "form-control" %>
                    </div>
                    <div class="col-md-2 form-cont-box">
                        <%= link_to 'Edit', edit_comment_path(event_comment), class: 'btn btn-success btn-block', data: {confirm: "Your changes will not be saved if you leave the page now."} %>
                    </div>
				    <div class="col-md-2 form-cont-box">
				    	<%= f.hidden_field :_destroy %>
						<%= link_to 'Remove', '#', class: 'remove_fields btn btn-danger btn-block', title: "Remove #{event_comment.content}" %>
					</div>
				</div>
			</fieldset>
		</div>
	<% end %>

