<div class="event-details">
    <%= event_decorator.photo %>
    <% if event.tags.present? %>
	    <ul class="token-input-list-facebook token-list-display">
	    	<% event.tags.each do |tag| %>
		    	<li class="token-input-token-facebook">
		    		<p><%= tag.name %></p>
		    	</li>
	    	<% end %>
	    </ul>
    <% end %>
    <ul class="list-inline quick-info">
        <li class="col-xs-12 col-sm-3 col-md-3 col-lg-2"><%= link_to "/events/#{event.id}/edit#impression-jump" do %><button class="btn btn-default col-xs-12"><div class="counter">(<%= event.estimated_total_impressions %>)</div>Impressions</button><% end %></li>
        <li class="col-xs-12 col-sm-3 col-md-3 col-lg-2"><%= link_to event_event_giveaways_path(event) do %><button type="button" class="btn btn-default col-xs-12"><div class="counter">(<%= event.giveaways.length %>)</div>Giveaways</button><% end %></li>
        <li class="col-xs-12 col-sm-3 col-md-3 col-lg-2"><%= link_to event_comments_path(event) do %><button type="button" class="btn btn-default col-xs-12"><div class="counter">(<%= event.comments.length %>)</div>Comments</button><% end %></li>
    </ul>
</div>