<%= form_for @event,html: {class: "form-horizontal"} do |f| %>
<% if @event.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>
<%= render 'general_fields', f: f %>
<% if @details %>
    <div class="detail <%= "hidden" unless @details %>">
        <div class="checkbox">
            <%= f.check_box :brand_demo_fit, class: "" %>
            <%= f.label :brand_demo_fit, "Brand fits the demographic" %>
        </div>
        <div class="checkbox">
            <%= f.check_box :wholesaler_or_local_support %>
            <%= f.label :wholesaler_or_local_support, "Wholesaler/Local Support" %>
        </div>

        <%= render 'impression_fields', f: f %>

        <div class="giveaways">
            <div class="form-group">
                <%= f.label :samples_given, "Samples Given" %>
                <%= f.number_field :samples_given %>
            </div>
            <%= render 'giveaways_fields', f: f %>
        </div>

        <div class="engagements">
            <div class="form-group">
                <%= f.label :digital_engagements, "Digital Engagements" %>
                <%= f.number_field :digital_engagements %>
            </div>
        </div>
    </div>
<% end %>

<div class="actions">
    <%= f.submit class: "btn btn-primary pull-right" %>
</div>
<% end %>
