<%= form_for @event,html: {class: "form-horizontal"} do |f| %>
<% if @event.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
            <ul>
                <% @event.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= render 'general_fields', f: f %>
    <% if @details %>
        <div class="detail<%= " hidden" unless @details %>">

            <%= render 'impression_fields', f: f %>

        <div class="giveaways row">
            <div class="col-md-12 form-header-label">
                <h3>Giveaways</h3>
            </div>
        </div>

        <div class="row">
            <%= render 'giveaways_fields', f: f %>
        </div>

        <div class="row">
            <div class="col-md-6 form-cont-box">
                <%= f.check_box :wholesaler_or_local_support %>
                <%= f.label :wholesaler_or_local_support, "Wholesaler/Local Support" %>
            </div>
            <div class="row">
                <div class="col-md-12 form-header-label">
                    <h3>Photos</h3>
                </div>
                <div class="col-md-6">
                    <%= link_to "Manage Event Photos", event_photos_path(@event), class: "btn btn-default" %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-header-label">
                    <h3>Tags</h3>
                </div>
                <div class="col-md-6">
                    <%= f.text_field :tag_list, data: {tag_list: "", pre: @event.tags}, class: "form-control" %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 submit-container">
                <%= f.submit class: "btn btn-primary pull-right" %>
                <%= link_to 'Back', events_path, class: "btn btn-default pull-right back-button" %>
            </div>
        </div>
    </div>
<% end %>

    <div class="row">
        <div class="col-md-12 form-header-label"></div>
        <div class="col-md-12 submit-container">
            <%= f.submit class: "btn btn-primary pull-right" %>
            <%= link_to 'Back', events_path, class: "btn btn-default pull-right back-button" %>
        </div>
    </div>
<% end %>
