<div class="col-md-12 form-header-label">
    <h3>Name & Times</h3>
</div>

<div class="col-md-6 form-cont-box">
    <%= f.label :name, "Name", class: "control-label" %>
    <%= f.text_field :name, class: "form-control input-lg", placeholder: "Event name", required: true %>
    <span class="help-block">What&apos;s the name of the event?</span>
</div>
<div class="col-md-6 form-cont-box">
    <%= f.label :program_id, "Program", class: "control-label" %>
    <%= f.select :program_id, options_from_collection_for_select(Program.all, :id, :program_plus_brand, @event.program.present? ? @event.program.id : nil),{} ,class: "form-control" %>
    <span class="help-block">What program is the event part of?</span>
</div>
<div class="col-md-6 form-cont-box">
    <%= f.label :start_date, "Start Date", class: "control-label" %>
    <%= f.text_field :start_date, class: "form-control datepicker", placeholder: "Start date", data: {behavior: "datepicker"}, required: true do %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    <% end %>
    <span class="help-block">What day does the event begin?</span>
</div>
<div class="col-md-6 form-cont-box">
    <%= f.label :start_time, "Start Time", class: "control-label" %>
    <%= f.text_field :start_time, class: "form-control timepicker", placeholder: "Start time", data: {behavior: "timepicker", defaultDate: @event.start_time}, required: true %>
    <span class="help-block">What time does the event start?</span>
</div>
<div class="col-md-6 form-cont-box">
    <%= f.label :end_date, "End Date", class: "control-label" %>
    <%= f.text_field :end_date, class: "form-control datepicker", placeholder: "End date", data: {behavior: "datepicker"}, required: true %>
    <span class="help-block">What day does the event end?</span>
</div>
<div class="col-md-6 form-cont-box">
    <%= f.label :end_time, "End Time", class: "control-label" %>
    <%= f.text_field :end_time, class: "form-control timepicker", placeholder: "End time", data: {behavior: "timepicker", defaultDate: @event.end_time}, required: true %>
    <span class="help-block">What time does the event end?</span>
</div>

<%= render "location_fields", l: f  %>

<div class="col-md-12 form-header-label">
    <h3>Event Details</h3>
</div>
<% if @details %>
    <div class="col-md-12 form-cont-box">
        <%= f.label :overview, "Overview" %>
        <%= f.text_area :overview, class: "form-control", placeholder: "Event overview", maxlength: 250 %>
        <span class="help-block">Summarize how the event went (250 character maximum).</span>
    </div>
    <div class="col-md-12 form-cont-box">
        <%= f.label :kpis, "Key Performance Indicators" %>
        <%= f.text_area :kpis, class: "form-control", placeholder: "Key Performance Indicators", maxlength: 250 %>
        <span class="help-block">What, if any, key performance indicators did the client provide (250 character maximum)?</span>
    </div>
<% end %>
<div class="col-md-12 form-cont-box">
    <%= f.label :note, "Event Notes", class: "control-label" %>
    <%= f.text_area :note, class: "form-control", placeholder: "Event notes", maxlength: 250 %>
    <span class="help-block">Is there any special information or additional event comments we should know (250 character maximum)?</span>
</div>

e.