<div class="col-md-12 form-header-label">
    <h3>Giveaways</h3>
</div>
<div id="event-giveaways">
    <%= f.fields_for :event_giveaways do |eg| %>
        <%= render 'event_giveaway_fields', f: eg %>
    <% end %>
    <div class="col-xs-12">
      <%= link_to_add_fields "Add Event Giveaway", f, :event_giveaways %>
      <%= link_to "New Giveaway", "/events/#{@event.id}/giveaways/new", class: 'btn btn-primary pull-right' %>
    </div>
</div>
<div class="clearfix"></div>


<div class="col-md-6 form-cont-box">
    <div class="checkbox">
        <%= f.check_box :wholesaler_or_local_support %>
        <%= f.label :wholesaler_or_local_support, "Wholesaler/Local Support" %>
    </div>
</div>