<div class="impressions">
    <div class="form-group">
        <%= f.label :mileage_impressions, "Mileage Impressions", class: "control-label col-md-2" %>
        <div class="col-md-10">
            <%= f.number_field :mileage_impressions, class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :estimated_total_impressions, "Estimated Total Impressions", class: "control-label col-md-2" %>
        <div class="col-md-10">
            <%= f.number_field :estimated_total_impressions, class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :footprint_attendance, "Footprint Attendance", class: "control-label col-md-2" %>
        <div class="col-md-10">
            <%= f.number_field :footprint_attendance, class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :display_attendance, "Display Attendance", class: "control-label col-md-2" %>
        <div class="col-md-10">
            <%= f.number_field :display_attendance, class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :total_attendance, "Total Event Attendance", class: "control-label col-md-2" %>
        <div class="col-md-10">
            <%= f.number_field :total_attendance, class: "form-control" %>
        </div>
    </div>
</div>
