<div class="col-md-12 form-header-label">
    <h3 id="impression-jump">Impressions &amp; Stats</h3>
</div>
<div class="col-md-6 form-cont-box">
    <%= f.label :total_attendance, "Total Event Attendance", class: "control-label" %>
    <%= f.number_field :total_attendance, min: 0, class: "form-control" %>
    <span class="help-block">How many people attended the event overall?</span>
</div>
<div class="col-md-6 form-cont-box">
    <%= f.label :miles, "Miles Traveled from Last Event", class: "control-label" %>
    <%= f.number_field :miles, min: 0, class: "form-control" %>
    <span class="help-block">How many miles did you travel to get to the event?</span>
</div>
<div class="col-md-6 form-cont-box">
    <%= f.label :walk_by_impressions, "Walk By Impressions", class: "control-label" %>
    <%= f.number_field :walk_by_impressions, min: 0, class: "form-control" %>
    <span class="help-block">How many people walked by your area?</span>
</div>
<div class="col-md-6 form-cont-box">
    <%= f.label :footprint_impressions, "Footprint Impressions", class: "control-label" %>
    <%= f.number_field :footprint_impressions, min: 0, class: "form-control" %>
    <span class="help-block">How many people set foot on your footprint?</span>
</div>
<div class="col-md-6 form-cont-box">
    <%= f.label :extended_engagements, "Extended Engagements", class: "control-label" %>
    <%= f.number_field :extended_engagements, min: 0, class: "form-control" %>
    <span class="help-block">How many people did you engage on person for a significant period of time?</span>
</div>
<div class="col-md-6 form-cont-box">
    <%= f.label :digital_engagements, "Digital Engagements", class: "control-label" %>
    <%= f.number_field :digital_engagements, min: 0, class: "form-control" %>
    <span class="help-block">How many people did you engage online in relation to this specific event?</span>
</div>

<div class="col-md-6">
    <div class="checkbox">
        <%= f.check_box :brand_demo_fit, class: "" %>
        <%= f.label :brand_demo_fit, "Brand fits the demographic" %>
    </div>
</div>
