<div class="impressions">
    <div class="form-group">
        <%= f.label :mileage_impressions, "Mileage Impressions" %>
        <%= f.number_field :mileage_impressions %>
    </div>
    <div class="form-group">
        <%= f.label :estimated_total_impressions, "Estimated Total Impressions" %>
        <%= f.number_field :estimated_total_impressions %>
    </div>
    <div class="form-group">
        <%= f.label :footprint_attendance, "Footprint Attendance" %>
        <%= f.number_field :footprint_attendance %>
    </div>
    <div class="form-group">
        <%= f.label :display_attendance, "Display Attendance" %>
        <%= f.number_field :display_attendance %>
    </div>
    <div class="form-group">
        <%= f.label :total_attendance, "Total Event Attendance" %>
        <%= f.number_field :total_attendance %>
    </div>
</div>
