<div class="col-md-12 form-header-label">
    <h3>Location</h3>
</div>

<div class="col-md-6">
    <div class="form-group">
    	<%= l.label :street, "Street", class: "control-label col-md-12" %>
    	<div class="col-md-12">
    		<%= l.text_field :street, class: "form-control" %>
    	</div>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
    	<%= l.label :city, "City", class: "control-label col-md-12" %>
    	<div class="col-md-12">
    		<%= l.text_field :city , class: "form-control" %>
    	</div>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
    	<%= l.label :state, "State", class: "control-label col-md-12" %>
    	<div class="col-md-12">
    		<%= l.text_field :state , class: "form-control" %>
    	</div>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
    	<%= l.label :country, "Country", class: "control-label col-md-12" %>
    	<div class="col-md-12">
    		<%= l.text_field :country, class: "form-control"  %>
    	</div>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
    	<%= l.label :postal_code, "Postal Code", class: "control-label col-md-12" %>
    	<div class="col-md-12">
    		<%= l.text_field :postal_code, class: "form-control"  %>
    	</div>
    </div>
</div>
