<div class="col-md-12 form-header-label">
    <h3>Location</h3>
</div>

<div class="col-md-6 form-cont-box">
    <%= l.label :street, "Street", class: "control-label" %>
    <%= l.text_field :street, class: "form-control" %>
</div>
<div class="col-md-6 form-cont-box">
	<%= l.label :city, "City", class: "control-label" %>
	<%= l.text_field :city , class: "form-control" %>
</div>
<div class="col-md-6 form-cont-box">
	<%= l.label :state, "State", class: "control-label" %>
	<%= l.text_field :state , class: "form-control" %>
</div>
<div class="col-md-6 form-cont-box">
	<%= l.label :postal_code, "Postal Code", class: "control-label" %>
	<%= l.text_field :postal_code, class: "form-control"  %>
</div>
<div class="col-md-6 form-cont-box">
    <%= l.label :country, "Country", class: "control-label" %>
    <%= l.text_field :country, class: "form-control"  %>
</div>
