<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <%= f.label :estimated_number_of_samples, "Estimated Number of Samples", class: "control-label col-md-12" %>
            <div class="col-md-12">
                <%= f.number_field :estimated_number_of_samples, min: 0, class: "form-control" %>
            </div>
        </div>
    </div>    
    <div class="col-md-6">
        <div class="form-group">
            <%= f.label :cost_per_sample, "Cost Per Sample", class: "control-label col-md-12" %>
            <div class="col-md-12">
                <%= f.number_field :cost_per_sample, min: 0, step: 0.01, class: "form-control" %>
            </div>
        </div>
    </div>    
    <div class="col-md-6">
        <div class="form-group">
            <%= f.label :tier, "Event Tier", class: "control-label col-md-12" %>
            <div class="col-md-12">
                <%= f.select :tier, [1,2,3], {include_blank: true}, {class: "form-control"} %>
            </div>
        </div>
    </div>
</div>