<div class="row">
    <div class="col-md-10 col-md-offset-1 container-box">
        <div class="event-header">
            <h1><span class="glyphicon glyphicon-calendar"></span> Events
                <%= link_to new_event_path do %>
                <button type="button" class="pull-right new-event-btn btn btn-primary">New Event</button>
                <% end %>
            </h1>
        </div>

        <div class="row event-background" >
            <div class="col-xs-12 col-sm-11 col-md-11">
                <div class="event-container">
                    <div class="event-group">
                    <% @events.each do |event| %>
                    <% event_decorator = EventDecorator.new(event) %>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                        </div>

                        <div class="col-sm-10 col-md-10">
                            <div class="event-info">
                                <div class="event-info-text col-sm-10 col-md-10">
                                    <%= image_tag event_decorator.brand.logo, class: "event-logo pull-left" %>
                                    <div class="event-name"><%= event_decorator.name %></div>
                                    <div class="event-start"><%= event_decorator.start_date %></div>
                                </div>
                                <div class="event-info-button col-sm-2 col-md-2">
                                    <%= link_to edit_event_path(event) do %>
                                    <button type="button" class="btn btn-default info-button glyphicon glyphicon glyphicon-pencil">
                                    </button>
                                    <% end %>
                                    <%= link_to event, method: :delete, data: { confirm: 'Are you sure?' } do %>
                                    <button type="button" class="btn btn-default info-button glyphicon glyphicon-trash">
                                    </button>
                                    <% end %>
                                </div>
                                <%= render 'event_details', event: event, event_decorator: event_decorator %>
                                <div class="event-circle"></div>
                                <div class="event-timeline"></div>
                                <div class="event-arrow"></div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

