<p id="notice"><%= notice %></p>

<div class="event">
    <div class="row">
        <div class="event-header">
            <div class="event-name col-md-3"><%= @event_decorator.name %></div>
            <div class="event-program col-md-3"><%= @event_decorator.program.name %></div>
            <div class="event-brand col-md-3"><%= @event_decorator.program.brand.name %></div>
            <div class="event-date col-md-3"><%= time_tag @event_decorator.start_date_time %></div>
        </div>
        <div class="event-summary">
            <div class="event-weather col-md-3">
                <%= @event_decorator.try(:weather) %>
            </div>
            <div class="col-md-3 event-duration">
                <%= @event_decorator.duration %>
            </div>
            <div class="col-md-3 event-attendees"><%= @event_decorator.total_attendance %></div>
            <div class="col-md-3 event-impressions"><%= @event_decorator.estimated_total_impressions %></div>
        </div>
    </div>
</div>

<%= link_to 'Edit Event Recap', edit_event_path(@event), class: "btn btn-primary" %> |
<%= link_to 'Back', events_path %> |
<%= link_to 'Comments', event_comments_path(@event) %>
