<% @event_decorator = event_decorator if @event_decorator.nil? && event_decorator.present? %>
<div class="event">
    <div class="row pdf-page">
        <div class="col-xs-1">
            <%= wicked_pdf_image_tag('g360left.png') %>
        </div>
        <div class="col-xs-11">
          <div class="pdf-photo-main-container-bg">
          </div>
        </div>
        <div class="pdf-photo-main-container">
          <%= @event_decorator.favorite_photo_main %>
        </div>

        <div class="col-xs-8">
          <div class="brand-info">
            <h2 class="event-name"><%= @event_decorator.name %></h2>
            <div class="event-program"><%= @event_decorator.program.name %></div>
            <div class="event-date"><%= "#{@event_decorator.start_date}" %> to <%= "#{@event_decorator.end_date}" %> </div>
            <div class="event-venue"><%= @event_decorator.venue %></div>
            <div class="event-location"><%= @event_decorator.location %></div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="brand-logo">
            <div class="event-brand"><%= image_tag @event_decorator.brand.logo, class: "img-responsive" %></div>
          </div>
        </div>
    </div>

    <div class="row pdf-page">
        <div class="col-xs-1">
            <%= wicked_pdf_image_tag('g360left.png') %>
        </div>
        <div class="col-xs-11">
            <div class="top-container">
                <h2>Overview</h2>
                <p class="overview-text"><%= @event_decorator.overview %></p>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="middle-container">
                <h2>Impressions</h2>
                <div class="event-impressions panel panel-default">
                    <div class="panel-body">
                        <table class="impressions-table">
                            <tbody>
                                <tr>
                                    <th class="col-md-11 impressions-label">Total</th>
                                    <td class="col-md-1 impressions-count"><%= number_with_delimiter @event_decorator.estimated_total_impressions %></td>
                                </tr>
                                <% if @event_decorator.mileage_impressions > 0 %>
                                    <tr class="impressions-row">
                                        <th class="col-md-11 impressions-label">Mileage</th>
                                        <td class="col-md-1 impressions-count"><%= number_with_delimiter @event_decorator.mileage_impressions %></td>
                                    </tr>
                                <% end %>
                                <% if @event_decorator.footprint_impressions > 0 %>
                                    <tr>
                                        <th class="col-md-11 impressions-label">Footprint</th>
                                        <td class="col-md-1 impressions-count"><%= number_with_delimiter @event_decorator.footprint_impressions %></td>
                                    </tr>
                                <% end %>
                                <% if @event_decorator.walk_by_impressions > 0 %>
                                    <tr>
                                        <th class="col-md-11 impressions-label">Walk by</th>
                                        <td class="col-md-1 impressions-count"><%= number_with_delimiter @event_decorator.walk_by_impressions %></td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-4 col-xs-offset-2">
            <div class="middle-container">
              <h2>Engagements</h2>
              <div class="event-impressions panel panel-default">
                <div class="panel-body">
                    <table class="impressions-table">
                        <tbody>
                            <% if @event_decorator.digital_engagements > 0 %>
                                <tr>
                                    <th class="col-md-11 impressions-label">Digital</th>
                                    <td class="col-md-1 impressions-count"><%= number_with_delimiter @event_decorator.digital_engagements %></td>
                                </tr>
                            <% end %>
                            <% if @event_decorator.extended_engagements > 0 %>
                                <tr>
                                    <th class="col-md-11 impressions-label">Extended</th>
                                    <td class="col-md-1 impressions-count"><%= number_with_delimiter @event_decorator.extended_engagements %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
        </div>
        <div class="pdf-footer">GROUP360 WORLDWIDE</div>
    </div>

    <% unless @event_decorator.event_giveaways.empty? %>
    <div class="row pdf-page">
        <div class="col-xs-1">
            <%= wicked_pdf_image_tag('g360left.png') %>
        </div>
        <div class="col-xs-10">
            <h2>Giveaways</h2>
            <div class="event-giveaways panel panel-default">
                <div class="panel-body">
                  <table class="impressions-table">
                    <tbody>
                    <% @event_decorator.favorite_event_giveaways.each do |event_giveaway| %>
                        <% if event_giveaway.count_given_away && event_giveaway.count_given_away > 0 %>
                            <tr class="event-giveaway">
                                <td class="giveaway-item col-xs-10"><%= event_giveaway.giveaway.name %></td>
                                <td class='giveaway-count col-xs-2'><%= number_with_delimiter event_giveaway.count_given_away %></td>
                            </tr>
                        <% end %>
                    <% end %>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        <div class="pdf-footer">GROUP360 WORLDWIDE</div>
    </div>
    <% end %>

    <% unless @event_decorator.photos.empty? %>
    <div class="row pdf-page">
      <div class="col-xs-1">
          <%= wicked_pdf_image_tag('g360left.png') %>
      </div>
      <div class="col-xs-11">
        <div class="col-xs-12">
          <h2>Photos</h2>
        </div>
          <% for i in 1..6 %>
            <% unless @event_decorator.favorite_photo_sub(i).nil? %>
              <div class="col-xs-4">
                <div class="pdf-photo-sub-container">
                <%= @event_decorator.favorite_photo_sub(i) %>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
      <div class="pdf-footer">GROUP360 WORLDWIDE</div>
    </div>
    <% end %>

    <% unless @event_decorator.comments.empty? %>
    <div class="row pdf-page">
        <div class="col-xs-1">
            <%= wicked_pdf_image_tag('g360left.png') %>
        </div>
        <div class="col-xs-11">
            <div class="col-xs-12">
              <h2>Comments</h2>
            </div>
            <div>
              <% @event_decorator.favorite_comments.each do |comment| %>
                  <div class="comment-text"><%= comment.content %></div>
              <% end %>
            </div>
        </div>
        <div class="pdf-footer">GROUP360 WORLDWIDE</div>
    </div>
    <% end %>

    <% unless @event_decorator.contacts.empty? %>
    <div class="row pdf-page">
        <div class="col-xs-1">
            <%= wicked_pdf_image_tag('g360left.png') %>
        </div>
        <div class="col-xs-11">
          <div class="col-xs-12">
            <h2>Contacts</h2>
          </div>
        <% @event_decorator.contacts.each do |contact| %>
          <div class="col-xs-6 contact">
            <div class="name"><%= contact.full_name %></div>

            <div class="position brand-primary"><%= contact.title %></div>
            <div class="location"><%= contact.address %> <span class="brand-primary">|</span> <%= contact.city_state_zip %></div>
            <div class="phone"><%= contact.m_phone %> <%= contact.d_phone %></div>
          </div>
        <% end %>
        </div>
        <div class="pdf-footer">GROUP360 WORLDWIDE</div>
    </div>
    <% end %>
</div>