<%= form_for(@document) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.file_field :doc %>
  <%= f.hidden_field :documentable_type, value: Event.name %>
  <%= f.hidden_field :documentable_id, value: params[:event_id] %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
