<%= form_for @document, html: {class: 'form-inline'}, remote: @remote.present? do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
  <%= f.label :doc, "Document", class: 'sr-only' %>
  <%= f.file_field :doc, class: 'form-control' %>
  </div>
  <%= f.hidden_field :documentable_type, value: Event.name %>
  <%= f.hidden_field :documentable_id, value: params[:event_id] %>
  <%= f.submit class: 'btn btn-primary'%>
<% end %>
