<div class="row">
    <div class="col-md-10 col-md-offset-1 container-box">
        <div class="event-header">
            <h1><span class="glyphicon glyphicon-gift"></span> Giveaway
                <%= link_to new_giveaway_path do %>
                <button type="button" class="pull-right new-event-btn btn btn-primary"><span class="visible-md visible-lg visible-sm .hidden-xs">New Giveaways</span><span class=".hidden-md .hidden-lg .hidden-sm visible-xs">+</span></button>
                <% end %>
            </h1>
        </div>

        <div class="form-box">

            <div class="row">
            <% @giveaways.each do |giveaway| %>
              <div class="col-sm-6 col-md-6">
                <div class="event-giveaway-container col-md-12">
                    <div class="event-giveaway-icon col-md-3">
                        <%= link_to image_tag giveaway.image, class: "giveaway-image" if giveaway.image.present? %>
                    </div>
                    <div class="event-giveaway-name col-md-9">
                        <table class="table">
                            <tr>
                              <th><%= giveaway.name %> (<%= giveaway.is_a_sample ? 'Sample' : 'Premium' %>)</th>
                            </tr>
                            <tr>
                              <td><%= giveaway.starting_inventory %> @ <%= number_to_currency(giveaway.unit_cost) %> each</td>
                            </tr>
                        </table>
                    </div>


                    <div  class="edit-box">
                        <%= link_to edit_giveaway_path(giveaway) do %>
                        <button type="button"><span class="glyphicon glyphicon glyphicon-pencil"> Edit</span></button>
                        <% end %>
                    </div>
                    <% if can? :delete, giveaway %>
                        <div class="delete-box">
                           <%= link_to giveaway, method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <button type="button"><span class="glyphicon glyphicon-remove-circle"></span></button>
                            <% end %>
                        </div>
                    <% end %>

                </div>
              </div>
            <% end %>
            </div>

        </div>
    </div>
</div>