<%= form_for(@event_giveaway) do |f| %>
  <% if @event_giveaway.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_giveaway.errors.count, "error") %> prohibited this event_giveaway from being saved:</h2>

      <ul>
      <% @event_giveaway.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
    <div class="col-md-10 col-md-offset-1 form-cont-box">
        <%= f.select :event_id, options_from_collection_for_select(Event.all, :id, :name, @event_giveaway.event_id), {}, class: "form-control" %>
    </div>

    <div class="col-md-10 col-md-offset-1 form-cont-box">
        <%= f.select :giveaway_id, options_from_collection_for_select(Giveaway.all, :id, :name, @event_giveaway.giveaway_id), {}, class: "form-control" %>
    </div>

    <div class="col-md-10 col-md-offset-1 form-cont-box">
        <%= f.number_field :count_given_away, min: 0, class: "form-control" %>
    </div>

    <div class="col-md-10 col-md-offset-1 form-cont-box">
        <%= f.submit class: "btn btn-primary" %>
    </div>

    <div class="col-md-10 col-md-offset-1 form-cont-box">
        <%= link_to 'Show', @event_giveaway %> |
        <%= link_to 'Back', event_event_giveaways_path(@event_giveaway.event) %>
    </div>
</div>

<% end %>
