<div class="row">
    <div class="col-md-10 col-md-offset-1 container-box">
        <div class="event-header">
            <h1>Event Giveaway</h1>
        </div>

        <div class="form-box">

            <div class="row">
            <% @event_giveaways.each do |event_giveaway| %>
              <div class="col-md-4">
                <div class="brand-icon-container">
                <div class="prize-icon">
                    <!-- Prize Picture -->
                </div>
                <div class="brand-name">
                    <%= event_giveaway.event.name %>
                    <%= event_giveaway.giveaway.name %>
                    <%= event_giveaway.count_given_away %>
                </div>
                <div>
                    <%= link_to event_giveaway do %>
                    <button type="button" class="btn btn-primary info-button"><span class="glyphicon glyphicon-eye-open"></span> Show</button>
                    <% end %>
                </div>
                <div>
                    <%= link_to edit_event_giveaway_path(event_giveaway) do %>
                    <button type="button" class="btn btn-default info-button"><span class="glyphicon glyphicon glyphicon-pencil"></span> Show</button>
                    <% end %>
                </div>
                <div>
                    <%= link_to event_giveaway, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <button type="button" class="btn btn-default info-button"><span class="glyphicon glyphicon glyphicon-trash"></span> Delete</button>
                    <% end %>
                </div>
                </div>
              </div>
            <% end %>
            </div>

            <div class="row">
                <div class="col-md-12 form-header-label"></div>
                <div class="col-md-12 submit-container">
                    <div class="form-group">
                    <%= link_to 'New Giveaway', @event.nil? ? new_event_giveaway_path : new_event_event_giveaway_path(@event), class: "btn btn-primary pull-right" %>

                    <%= link_to_unless @event.nil?, "Back", edit_event_path(@event), class: "btn btn-default pull-right back-button" %>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>