<%= form_for(@photo, html: {class: "form-horizontal"}) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group row">
    <div class="col-md-10 col-md-offset-1">
        <% if @photo.present? && @photo.image.present? %>
          <div class="text-center current-photo-container"><%= image_tag @photo.image, class: 'img-responsive photo-preview' %><p>Current Photo</p></div>
        <% end %>
        <div class="text-center photo-preview-container"><img src="" alt="" id="photo-preview" class="img-responsive photo-preview" style="display: none;"><p class="photo-preview-text">Preview</p></div>
        <div class="js-progress-bars">
          <script id="template-upload" type="text/x-tmpl">
          <div id="file-{%=o.unique_id%}" class="upload">
            {%=o.name%}
            <div class="progress"><div class="bar" style="width: 0%"></div></div>
          </div>
          </script>
        </div>
        <div class="temp"></div>
        <div class="input-button btn btn-default container-full" data-s3-trigger=".s3-photo-upload input[type='file']">Choose File</div>
        <%= f.label :tag_list, "Tags (separated by commas)", class: "control-label" %>
        <%= f.text_field :tag_list, data: {tag_list: "", pre: @photo.tags}, class: "form-control" %>
        <% if @event.present? %>
          <%= f.hidden_field :imageable_id, value: @event.id %>
          <%= f.hidden_field :imageable_type, value: @event.class.name %>
          <%= f.hidden_field :direct_upload_url, id: 'direct_upload_url' %>
        <% end %>
    </div>

    <div class="col-md-10 col-md-offset-1 form-header-label"></div>
    <div class="col-md-10 col-md-offset-1 submit-container">
        <%= f.submit class: "btn btn-primary pull-right" %>
        <% if @event.present? %>
          <%= link_to 'Back', event_photos_path(@event), class: 'btn btn-default pull-right back-button' %>
        <% else %>
          <%= link_to 'Back', photos_path, class: 'btn btn-default pull-right back-button' %>
        <% end %>
    </div>
</div>
<% end %>
<%= s3_uploader_form callback_url: s3_upload_complete_url(format: :js), callback_param: "photo[direct_upload_url]", bucket: "nutshell-360-temp", id: "s3_uploader", class: "s3-photo-upload hidden" do %>
  <%= file_field_tag :file, multiple: false, data: {image_upload_preview: '#photo-preview'} %>
<% end %>
