<div class="row">
    <div class="col-md-10 col-md-offset-1 container-box">
        <div class="event-header">
            <h1><span class="glyphicon glyphicon-camera"></span> <%= @descriptor %> Photos</h1>
        </div>
        <div class="event-background">
        <div class="col-sm-6">
            <h3 class="text-center">Favorite Photos</h3>
            <ul id="sortable_favorites" class="sortable">
                <% @favorite_photos.each do |photo| %>
                <li data-photo-id="<%= photo.id %>" data-event-id="<%= @event.id %>">
                    <% if photo.processed && photo.image(:small).present? %>
                    <%= image_tag photo.image(:small), class: 'img-responsive list-photos' %>
                    <% elsif photo.direct_upload_url.present? %>
                    <%= image_tag photo.direct_upload_url, class: 'img-responsive list-photos' %>
                    <% else %>
                    <p class="image-processing">Your image is processing. <%= photo.processed %></p>
                    <% end %>
                </li>
                <% end %>
            </ul>
        </div>
        <div class="col-sm-6">
            <h3 class="text-center">Other Photos</h3>
            <ul id="sortable_other" class="sortable">
                <% @other_photos.each do |photo| %>
                    <li data-photo-id="<%= photo.id %>" data-event-id="<%= @event.id %>">
                        <% if photo.processed && photo.image(:small).present? %>
                        <%= image_tag photo.image(:small), class: 'img-responsive list-photos' %>
                        <% elsif photo.direct_upload_url.present? %>
                        <%= image_tag photo.direct_upload_url, class: 'img-responsive list-photos' %>
                        <% else %>
                        <p class="image-processing">Your image is processing. <%= photo.processed %></p>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
        <br style="clear:both">
    </div>
</div>