<div class="row">
    <div class="col-md-10 col-md-offset-1 container-box">
        <div class="event-header">
            <h1><span class="glyphicon glyphicon-camera"></span> <%= @descriptor %> Photos</h1>
        </div>
        <div class="favorite-photo-background">
            <p class="favorite-order-instructions">Drag and drop your photos into the favorite photos column to arrange the photos in the order you want them to appear. The first photo shown in favorite photos will be your main event picture in the report and the next four will follow. Click here to see the <%= link_to 'report', event_path(@event, format: :pdf), target: "_blank" %>.</p>
            <div class="col-sm-6">
                <h3 class="text-center">Favorite Photos</h3>
                <ol id="sortable_favorites" class="sortable">
                    <% @favorite_photos.each do |photo| %>
                    <li data-photo-id="<%= photo.id %>" data-event-id="<%= @event.id %>">
                        <% if photo.processed && photo.image(:small).present? %>
                        <%= image_tag photo.image(:small), class: 'img-responsive list-photos' %>
                        <% elsif photo.direct_upload_url.present? %>
                        <%= image_tag photo.direct_upload_url, class: 'img-responsive list-photos' %>
                        <% else %>
                        <p class="image-processing">Your image is processing. <%= photo.processed %></p>
                        <% end %>
                    </li>
                    <% end %>
                </ol>
            </div>
            <div class="col-sm-6">
                <h3 class="text-center">Other Photos</h3>
                <ul id="sortable_other" class="sortable">
                    <% @other_photos.each do |photo| %>
                        <li data-photo-id="<%= photo.id %>" data-event-id="<%= @event.id %>">
                            <% if photo.processed && photo.image(:small).present? %>
                            <%= image_tag photo.image(:small), class: 'img-responsive list-photos' %>
                            <% elsif photo.direct_upload_url.present? %>
                            <%= image_tag photo.direct_upload_url, class: 'img-responsive list-photos' %>
                            <% else %>
                            <p class="image-processing">Your image is processing. <%= photo.processed %></p>
                            <% end %>
                        </li>
                    <% end %>
                </ul>
            </div>
<!--
          <div class="col-md-10 col-md-offset-1 form-header-label"></div>
            <div class="col-md-10 col-md-offset-1 submit-container">
                <%= link_to edit_event_path(@event), class: 'btn btn-primary back-button' do %><span class="glyphicon glyphicon-pencil"></span> &nbsp;Edit Event<% end %>
                <%= link_to event_photos_path(@event), class: "btn btn-primary" do %><span class="glyphicon glyphicon-camera"></span> &nbsp;Event Photos<% end %>
            </div>
          </div>
 -->
        </div>
    </div>
</div>