<h1>Listing photos</h1>
  <div class="row">
    <% @photos.each do |photo| %>
      <div class="col-md-4 photo">
        <div><%= image_tag photo.image, class: 'img-responsive' %></div>
        <div><%= link_to 'Show', photo, class: "btn btn-default" %></div>
        <div><%= link_to 'Edit', edit_photo_path(photo), class: "btn btn-default" %></div>
        <div><%= link_to 'Destroy', photo, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
  </div>

<br>

<%= link_to 'New Photo', new_event_photo_path %>
