<div class="row">
    <div class="col-md-10 col-md-offset-1 container-box">
        <div class="event-header">
            <h1><span class="glyphicon glyphicon-camera"></span> <%= @descriptor %> Photos</h1>
        </div>
        <div class="event-background">
            <div data-spy="affix" data-offset-top="135" class="date-filters-container hidden-xs">

                <div class="date-filters col-sm-12 col-md-12">
                    <%= form_tag request.path, method: 'get', class: '' do %>
                        <div class="col-sm-2 col-md-2 filter-group">
                            <h2><span class="glyphicon glyphicon-filter"></span> Filters</h2>
                        </div>
                        <div class="form-group col-sm-2 col-md-2">
                            <%= label_tag :tag, 'Tag:', class: 'control-label' %>
                            <%= select_tag :tag, options_from_collection_for_select(Photo.tag_counts, :name, :name, params[:tag]), class: 'form-control', prompt: '' %>
                        </div>
                        <div class="form-group col-sm-2 col-md-2">
                            <%= label_tag :start_date, 'From:', class: 'control-label' %>
                            <%= text_field_tag :start_date, params[:start_date], class: 'form-control datepicker', placeholder: 'Start Date', data: {behavior: "datepicker"} %>
                        </div>
                        <div class="form-group col-sm-2 col-md-2">
                            <%= label_tag :end_date, 'To:', class: 'control-label' %>
                            <%= text_field_tag :end_date,  params[:end_date], class: 'form-control datepicker', placeholder: 'End Date', data: {behavior: "datepicker"} %>
                        </div>
                        <div class="form-group col-sm-2 col-md-2">
                            <%= label_tag :favorites, 'Show Favorites', class: 'control-label' %>
                            <% if params[:favorites] == '' %>
                                <%= check_box_tag :favorites, 'on' %>
                            <% else %>
                                <%= check_box_tag :favorites, 'on', params[:favorites] %>
                            <% end %>
                        </div>
                        <div class="col-sm-2 col-md-2 filter-group">
                            <%= submit_tag 'Filter', class: 'btn btn-default btn-block' %>
                            <%= submit_tag 'Clear', class: 'btn btn-info btn-block clear-filter' %>
                        </div>
                    <% end %>
                </div>
                <div class="filter-triangles">
                    <div class="left-triangle"></div>
                    <div class="right-triangle"></div>
                </div>
            </div>
        </div>
        <div id="photos-form-box" class="form-box">
          <% if @tags.present? %>
            <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
              <%= link_to tag.name, "/photos/tags/#{tag.name}", class: css_class %>
            <% end %>
          <% end %>
          <div class="row">
            <% @photos.each do |photo| %>
              <div class="col-sm-6 col-md-4">
                <div class="card-stack card-round photo">
                  <div class="list-photo-container">
                    <a href="<%= photo.image.url(:large) %>" data-lightbox="<%= @descriptor %>" data-title="<a href='<%= photo.image.url %>' download>Download</a>">
                    <% if photo.processed && photo.image(:small).present? %>
                      <%= image_tag photo.image(:small), class: 'img-responsive list-photos' %>
                    <% else %>
                      <p class="image-processing">Your image is processing.</p>
                    <% end %>
                    </a>
                  </div>
                  <ul class="tag-list inactive">
                    <% photo.tags.each do |tag| %>
                      <li><%= link_to tag, "/photos/tags/#{tag}" %></li>
                    <% end %>
                  </ul>
                  <div class="tags-box">
                    <button class="tags-button"><span class="glyphicon glyphicon-tags"> Tags</span></button>
                </div>

                <div class="favorite-box <%= 'active' if @favorite_photos.include?(photo) %>">
                    <%= button_to favorite_photo_path(photo), params: {favoritable_type: @favoritable_type}, class: 'favorite-button', remote: true do %>
                    <span class="glyphicon glyphicon-star"></span>
                    <% end %>
                </div>
                  <div class="edit-box">
                    <%= link_to edit_photo_path(photo) do %>
                      <button type="button" class=""><span class="glyphicon glyphicon-pencil"> Edit</span></button>
                    <% end %>
                  </div>
                  <div class="delete-box">
                    <%= link_to photo, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <button type="button" class=""><span class="glyphicon glyphicon-remove"></span></button>
                      <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

        <br>
        <% if @event.present? %>
          <%= link_to "Back to #{@event.name}", edit_event_path(@event), class: 'btn btn-default back-button' %>
          <%= link_to 'New Photo', new_event_photo_path, class: "btn btn-primary" %>
        <% end %>
        </div>
    </div>
</div>