<div class="col-md-10 col-md-offset-1">
    <div class="card-stack card-round photo">
      <div class="photo-container">
        <a href="<%= @photo.image.url(:large) %>" data-lightbox="<%= @descriptor %>" data-title="<a href='<%= @photo.image.url %>' download>Download</a>">
        <% if @photo.processed && @photo.image(:large).present? %>
          <%= image_tag @photo.image(:large), class: 'img-responsive list-photos' %>
        <% elsif @photo.direct_upload_url.present? %>
            <%= image_tag @photo.direct_upload_url, class: 'img-responsive list-photos' %>
        <% else %>
          <p class="image-processing">Your image is processing.</p>
        <% end %>
        </a>
      </div>
      <% if can? :update, @photo %>
        <div class="edit-box">
          <%= link_to edit_photo_path(@photo) do %>
            <button type="button" class=""><span class="glyphicon glyphicon-pencil"> Edit</span></button>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1 container-box">
        <div class="event-header">
            <h1>Tags</h1>
        </div>
        <div class="form-box">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <ul class="list-inline">
                    <% @photo.tags.each do |tag| %>
                        <li><%= link_to tag, "/photos/tags/#{tag}", class: "tag-item" %></li>
                    <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render "comments/comments" %>
