<%= form_for(@brand, html: {class: "form-horizontal"}) do |f| %>
<% if @brand.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

	<ul>
		<% @brand.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="brand-info row">
	<div class="col-md-10 col-md-offset-1 form-cont-box">
		<%= f.label :name, "Name", class: "control-label" %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<div class="col-md-10 col-md-offset-1 form-cont-box">
		<%= f.label :logo, "Logo", class: "control-label" %>
        <%= f.file_field :logo, class: "btn btn-default container-full" %>
        <div class="input-button btn btn-default container-full">Choose File</div>
	</div>
    <div class="col-md-10 col-md-offset-1 form-cont-box">
        <%= f.submit class: "btn btn-primary container-full"%>
    </div>
    <div class="col-md-10 col-md-offset-1 form-cont-box">
        <%= link_to 'Show', @brand %> |
        <%= link_to 'Back', brands_path %>
    </div>
</div>
<% end %>
