<div class="row">
    <div class="col-md-10 col-md-offset-1 container-box">
        <div class="event-header">
            <h1>Brands<%= link_to 'New Brand', new_brand_path, class: "btn btn-default pull-right" %></h1>
        </div>

        <div class="form-box">

        <table class="table">
          <thead>
            <tr>
              <th>Logo</th>
              <th>Name</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @brands.each do |brand| %>
              <tr>
                <td class="brand-image"><%= image_tag brand.logo, class: "img-responsive" unless brand.logo.nil? %></td>
                <td class="brand-name"><%= brand.name %></td>
                <td><%= link_to "Show Programs (#{brand.programs.count})", brand_programs_path(brand) %></td>
                <td>
                    <%= link_to edit_brand_path(brand) do %><button type="button" class="btn btn-default info-button glyphicon glyphicon glyphicon-pencil"></button>
                    <% end %>
                </td>
                <td>
                    <%= link_to brand, method: :delete, data: { confirm: 'Are you sure?' } do %><button type="button" class="btn btn-default info-button glyphicon glyphicon-trash"></button>
                    <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
    </div>
</div>